html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, var, ol, ul, li, form, label,article, aside, figure, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: sans-serif;
	vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    color: #fff;
}





.container{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5% repeat(3, 1fr);
    gap: 50px 0;
    background-color: #120226;
}

.cabecalho{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.principal{
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
}

.cards_grandes{
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; */
    width: 100%;
    height: 30%;
    background-color: rgb(85, 85, 85);
}

.cards_pequenos{
    height: 60%;
    display: flex;
    
}

.views{
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; */
    width: 50%;
    height: 100%;
    background-color: grey;
}

.tracks{
    /* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; */
    width: 50%;
    height: 100%;
    background-color: grey;
}

.perfil{
    background-color: #050014;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}